In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from tkinter import filedialog

In [3]:
data = pd.read_csv(filedialog.askopenfilename()) 
data

C:\Users\USER\AppData\Local\Temp\ipykernel_3676\3786113491.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(filedialog.askopenfilename())

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:02,view,5802432,1487580009286590000,NaN,NaN,0.32,562076640,09fafd6c-6c99-46b1-834f-33527f4de241
1,2019-11-01 00:00:09,cart,5844397,1487580006317030000,NaN,NaN,2.38 sale,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
2,2019-11-01 00:00:10,view,5837166,1783999064103190000,NaN,pnb,22.22,556138645,57ed222e-a54a-4907-9944-5a875c2d7f4f
3,2019-11-01 00:00:11,cart,5876812,1487580010100290000,NaN,jessnail,3.16,564506666,186c1951-8052-4b37-adce-dd9644b1d5f7
4,2019-11-01 00:00:24,remove_from_cart,5826182,1487580007483040000,NaN,NaN,3.33,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb
...,...,...,...,...,...,...,...,...,...
1048570,2019-11-08 11:17:27,remove_from_cart,5888061,1487580013086630000,NaN,shik,5.71,568919150,e2588ec8-e3ac-452f-9d14-c679879c6679
1048571,2019-11-08 11:17:27,view,5843812,1487580011534740000,NaN,NaN,2.78,410153810,b9c05605-bdfc-47a1-8742-120c989b99e6
1048572,2019-11-08 11:17:27,cart,5875273,1487580005553660000,NaN,NaN,7.46,402986169,dd9d10cd-9993-9ca3-5828-afb8abec851d
1048573,2019-11-08 11:17:28,view,5854812,1602943681873050000,NaN,grattol,5.24,568926108,6b3c6855-efea-4c02-9da6-e7c5a988628a
1048574,2019-11-08 11:17:28,remove_from_cart,5747148,1487580005595610000,NaN,NaN,3.33,515443495,ba4978ed-db1d-42b0-b836-c3652421fd57

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   event_time              1048575 non-null  datetime64[ns]
 1   event_type              1048575 non-null  object
 2   product_id              1048575 non-null  int64
 3   category_id             1048575 non-null  int64
 4   category_code           16715 non-null    object
 5   brand                   602451 non-null   object
 6   price                   1048575 non-null  object
 7   user_id                 1048575 non-null  int64
 8   user_session            1048357 non-null  object
 9   duration_to_next_event  1038552 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 80.0+ MB

In [5]:
data['event_time']= pd.to_datetime(data['event_time'])

event_time       datetime64[ns]
event_type               object
product_id                int64
category_id               int64
category_code            object
brand                    object
price                    object
user_id                   int64
user_session             object
dtype: object

In [17]:
data['duration_to_next_event'] = data.groupby('user_session')['event_time'].diff().shift(-1)

In [34]:
half_data = data.loc[:100000].copy()
half_data

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,duration_to_next_event
0,2019-11-01 00:00:02,view,5802432,1487580009286590000,NaN,NaN,0.32,562076640,09fafd6c-6c99-46b1-834f-33527f4de241,23.0
1,2019-11-01 00:00:09,cart,5844397,1487580006317030000,NaN,NaN,2.38 sale,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb,15.0
2,2019-11-01 00:00:10,view,5837166,1783999064103190000,NaN,pnb,22.22,556138645,57ed222e-a54a-4907-9944-5a875c2d7f4f,45.0
3,2019-11-01 00:00:11,cart,5876812,1487580010100290000,NaN,jessnail,3.16,564506666,186c1951-8052-4b37-adce-dd9644b1d5f7,103.0
4,2019-11-01 00:00:24,remove_from_cart,5826182,1487580007483040000,NaN,NaN,3.33,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb,0.0
...,...,...,...,...,...,...,...,...,...,...
99996,2019-11-01 19:36:11,remove_from_cart,5864318,1487580011585070000,NaN,dermal,1.03,566569680,ec103d0c-7d8b-40c1-aadd-de5ac99aadbb,0.0
99997,2019-11-01 19:36:11,remove_from_cart,5864318,1487580011585070000,NaN,dermal,1.03,566569680,ec103d0c-7d8b-40c1-aadd-de5ac99aadbb,0.0
99998,2019-11-01 19:36:11,remove_from_cart,5864318,1487580011585070000,NaN,dermal,1.03,566569680,ec103d0c-7d8b-40c1-aadd-de5ac99aadbb,0.0
99999,2019-11-01 19:36:11,remove_from_cart,5864318,1487580011585070000,NaN,dermal,1.03,566569680,ec103d0c-7d8b-40c1-aadd-de5ac99aadbb,0.0
100000,2019-11-01 19:36:11,remove_from_cart,5864318,1487580011585070000,NaN,dermal,1.03,566569680,ec103d0c-7d8b-40c1-aadd-de5ac99aadbb,0.0

# 1

In [22]:
data['duration_to_next_event'] = data.groupby('user_session')['event_time'].transform(lambda x: x.diff().shift(-1).dt.total_seconds())
data.loc[data.groupby('user_session')['event_time'].idxmax(), 'duration_to_next_event'] = 0

In [23]:
data

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,duration_to_next_event
0,2019-11-01 00:00:02,view,5802432,1487580009286590000,NaN,NaN,0.32,562076640,09fafd6c-6c99-46b1-834f-33527f4de241,23.0
1,2019-11-01 00:00:09,cart,5844397,1487580006317030000,NaN,NaN,2.38 sale,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb,15.0
2,2019-11-01 00:00:10,view,5837166,1783999064103190000,NaN,pnb,22.22,556138645,57ed222e-a54a-4907-9944-5a875c2d7f4f,45.0
3,2019-11-01 00:00:11,cart,5876812,1487580010100290000,NaN,jessnail,3.16,564506666,186c1951-8052-4b37-adce-dd9644b1d5f7,103.0
4,2019-11-01 00:00:24,remove_from_cart,5826182,1487580007483040000,NaN,NaN,3.33,553329724,2067216c-31b5-455d-a1cc-af0575a34ffb,0.0
...,...,...,...,...,...,...,...,...,...,...
1048570,2019-11-08 11:17:27,remove_from_cart,5888061,1487580013086630000,NaN,shik,5.71,568919150,e2588ec8-e3ac-452f-9d14-c679879c6679,0.0
1048571,2019-11-08 11:17:27,view,5843812,1487580011534740000,NaN,NaN,2.78,410153810,b9c05605-bdfc-47a1-8742-120c989b99e6,0.0
1048572,2019-11-08 11:17:27,cart,5875273,1487580005553660000,NaN,NaN,7.46,402986169,dd9d10cd-9993-9ca3-5828-afb8abec851d,0.0
1048573,2019-11-08 11:17:28,view,5854812,1602943681873050000,NaN,grattol,5.24,568926108,6b3c6855-efea-4c02-9da6-e7c5a988628a,0.0
1048574,2019-11-08 11:17:28,remove_from_cart,5747148,1487580005595610000,NaN,NaN,3.33,515443495,ba4978ed-db1d-42b0-b836-c3652421fd57,0.0

# 2

In [35]:

half_data['funnel_number'] = (half_data.groupby('user_id')['event_time']
                       .diff()
                       .dt.days
                       .fillna(0)
                       .gt(5)
                       .cumsum() + 1)

# 3

In [75]:
half_data['index_in_funnel'] = half_data.groupby(['funnel_number','user_id'])['user_session'].cumcount() + 1

In [81]:
half_data.groupby('user_session').count()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,duration_to_next_event,funnel_number,index_in_funnel
user_session,,,,,,,,,,,
000193ea-7916-411e-be98-f2ae4787817e,1,1,1,1,0,1,1,1,1,1,1
0006b6fd-2930-4652-a4de-3c10b6ba131a,1,1,1,1,0,1,1,1,1,1,1
0006fab1-42de-48d9-a025-00de4b67e282,1,1,1,1,0,0,1,1,1,1,1
000a16cf-3a42-48f5-98e4-caf0bffbfab3,1,1,1,1,0,1,1,1,1,1,1
000b7dbc-d2d5-4c25-ae9a-4883a751e8f4,3,3,3,3,0,1,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...
fff35ffa-f6b4-5ca2-434d-404f53743a2f,1,1,1,1,0,0,1,1,1,1,1
fff7c60d-6365-4131-8361-20bfe84cd221,1,1,1,1,0,1,1,1,1,1,1
fff96861-dc1b-43fe-8b25-12ea47b836d5,1,1,1,1,0,1,1,1,1,1,1
fffa210c-2f1b-4921-a7d9-dedf567c3772,2,2,2,2,0,2,2,2,2,2,2
fffb4273-c0dd-4032-964a-d798a4db74b1,9,9,9,9,0,7,9,9,9,9,9

In [78]:
half_data[['event_time','user_session','duration_to_next_event','index_in_funnel','funnel_number']]

,event_time,user_session,duration_to_next_event,index_in_funnel,funnel_number
0,2019-11-01 00:00:02,09fafd6c-6c99-46b1-834f-33527f4de241,23.0,1,1
1,2019-11-01 00:00:09,2067216c-31b5-455d-a1cc-af0575a34ffb,15.0,1,1
2,2019-11-01 00:00:10,57ed222e-a54a-4907-9944-5a875c2d7f4f,45.0,1,1
3,2019-11-01 00:00:11,186c1951-8052-4b37-adce-dd9644b1d5f7,103.0,1,1
4,2019-11-01 00:00:24,2067216c-31b5-455d-a1cc-af0575a34ffb,0.0,2,1
...,...,...,...,...,...
99996,2019-11-01 19:36:11,ec103d0c-7d8b-40c1-aadd-de5ac99aadbb,0.0,420,1
99997,2019-11-01 19:36:11,ec103d0c-7d8b-40c1-aadd-de5ac99aadbb,0.0,421,1
99998,2019-11-01 19:36:11,ec103d0c-7d8b-40c1-aadd-de5ac99aadbb,0.0,422,1
99999,2019-11-01 19:36:11,ec103d0c-7d8b-40c1-aadd-de5ac99aadbb,0.0,423,1
100000,2019-11-01 19:36:11,ec103d0c-7d8b-40c1-aadd-de5ac99aadbb,0.0,424,1

In [52]:
half_data.groupby(['funnel_number','user_session'])

In [60]:
half_data.sort_values(by='index_in_funnel', ascending=False)[['index_in_funnel','user_session','event_time']]

,index_in_funnel,user_session,event_time
0,99957,09fafd6c-6c99-46b1-834f-33527f4de241,2019-11-01 00:00:02
66651,99957,7734ee07-c10c-4fbf-a18d-ba8a5908ad43,2019-11-01 14:26:42
66673,99957,a698ca86-71fa-46b6-bb50-e28aa5b57f65,2019-11-01 14:27:03
66672,99957,ebd79fbf-d480-4f25-a4c0-6868a5bd229a,2019-11-01 14:27:02
66671,99957,3c3602f5-040d-4c80-9b82-ef28901dfa07,2019-11-01 14:27:02
...,...,...,...
33332,99957,e8e2aaaf-0f15-4a91-a371-30d2a5300e5f,2019-11-01 09:40:49
33331,99957,a079c6b1-04a8-4af2-8259-25e22286d11b,2019-11-01 09:40:49
33330,99957,888fd8c5-bbab-4b48-9c02-7778bd407326,2019-11-01 09:40:49
33329,99957,250ef6de-71d2-4630-9d09-18b727ad61f3,2019-11-01 09:40:48
100000,99957,ec103d0c-7d8b-40c1-aadd-de5ac99aadbb,2019-11-01 19:36:11

# 4

In [66]:
half_data['price'] = half_data['price'].replace('[^\d.]+', '', regex=True).astype(float)
half_data['price']

0          0.32
1          2.38
2         22.22
3          3.16
4          3.33
          ...
99996      1.03
99997      1.03
99998      1.03
99999      1.03
100000     1.03
Name: price, Length: 100001, dtype: float64